{
	"TWITTER_API": {
		"CONSUMER_KEY": "",
		"CONSUMER_SECRET": "",
		"ACCESS_TOKEN": {
			"KEY": "",
			"SECRET": ""
		}
	},
	"FIREBASE_API": {
		"SERVICEACOUNTKEY_PATH": "",
		"DATABASE_URL": ""
	}
}